@import "../scss/variables.scss";
@import "../scss/animation.scss";
@import "../scss/opening.scss";
@import "../scss/hamburgerMenu.scss";
@import "../scss/mediaqueries.scss";

.contact-title {
  @include primaryFontStyle(3rem, $color-darkCharcol);
  margin-top: 3.2rem;
  margin-left: 3.2rem;
}

.contact-features {
  width: 90%;
  min-width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-left {
  width: 40%;
  height: 60rem;
  border-radius: 8px;
  margin-left: 1.2rem;
  @include secondaryFontStyle(1.5rem, $color-darkCharcol);
}

.contact-right {
  width: 60%;
  min-height: 40rem;
  background-color: $color-dark;
  padding: 3rem;
  border-radius: 8px;
  @include primaryFontStyle(2rem, white);
}

.contact-icon {
  margin-top: 3.2rem;
  stroke: white;
  color: white;
}

/////////////////////////////////////////
///
.container-form {
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  width: 146rem;
  max-width: 100%;
  padding-left: 3.2rem;
}

.form-header h2 {
  @include secondaryFontStyle(2rem, $color-darkCharcol);
  text-align: center;
}

.form-control {
  border: none;
  position: relative;
}

.form-control label {
  @include primaryFontStyle(1.5rem, $color-darkCharcol);
}

.form-control input {
  @include primaryFontStyle(1.5rem, $color-darkCharcol);
  width: 146rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 8px;
}

.form-control select {
  @include primaryFontStyle(1.5rem, $color-darkCharcol);
  width: 146rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 8px;
}

.form-control i {
  position: absolute;
  top: 42.5px;
  right: 15px;
}

.form-control textarea {
  @include primaryFontStyle(1.5rem, $color-darkCharcol);
  width: 146rem;
  height: 15rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid $color-darkCharcol;
}

.form-control .fa-check-circle {
  color: green;
  font-size: 1.5rem;
}

.form-control .fa-exclamation-circle {
  color: red;
  font-size: 1.5rem;
}

.form-control i {
  visibility: hidden;
}
.form-control small {
  color: red;
  font-size: 1.2rem;
  visibility: hidden;
}

.form-control button {
  @include primaryFontStyle(1.5rem, $color-darkCharcol);
  padding: 1rem;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.form-control button:hover {
  cursor: pointer;
  background-color: $color-darkCharcol;
  color: white;
  transition: all 0.3s ease-in-out;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
}

.form-control.error input {
  border-color: #e74c3c;
}
