.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2.5rem;
  height: 3px;
  margin: 5px auto;
  background-color: $color-verylight;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 51.25em) {
  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 170%);
  }

  .header-navbar ul li {
    display: none;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
